# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
LCvenv/

# Environment variables
.env

# Model files
models/
*.pkl
*.pickle
*.index
*.faiss


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
